DJANGO_SECRET_KEY=your-secret-key
DATABASE_URL=postgres://myuser:mypassword@localhost:5432/dita_db?sslmode=disable
REDIS_URL=redis://localhost:6379

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAYHERO_CALLBACK_SECRET=
AUTH_HEADER=
CHANNEL_ID=
BACKEND_URL=https://api.dita.co.ke